.box.is-bordered {
  border: .1rem solid $ghost-black;
}
.box.is-transparent {
  background-color: transparent;
}
.box.is-gridded {
  background-color: transparent;
  border: .1rem solid $ghost-black;
  border-left: none;
}
.box.is-gapped {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
}
.box.is-padded {
  padding: $spacing-xl;
}
.column:last-child .box.is-gridded {
  border-right: none;
}