.box.is-bordered {
  border: .1rem solid $ghost-black;
}
.box.is-transparent {
  background-color: transparent;
}
.box.is-gridded {
  background-color: transparent;
  border: .1rem solid $ghost-black;
  border-left: none;
}
.box.is-gapped {
  margin-top: 3 * $spacing;
  margin-bottom: 3 * $spacing;
}
.box.is-padded {
  padding: 3 * $spacing;
}
.column:last-child .box.is-gridded {
  border-right: none;
}