// Container
.container {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width - $gutter;
}

// columns
.columns {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  @include media($tiny) {
    flex-wrap: wrap;
  }

}
.columns.are-gapped {
  margin: $gutter -$gutter/2;
  padding-left: 0;
  padding-right: 0;

  .columns {
    margin-left: 0;
    margin-right: 0;
  }

}
.columns.are-gridded {
  flex-wrap: wrap;

  .column {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    margin-bottom: $gutter / 2;
    @include media($tiny) {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
.columns.are-sparse {
  justify-content: space-between;
}
.columns.are-bottom {
  align-items: flex-end;
}
.columns.are-gapped .column {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  @include media($tiny) {
    padding-left: 0;
    padding-right: 0;
  }
}
.columns.are-centered {
  justify-content: center;
}
.columns.are-end {
  justify-content: flex-end;
}
.columns.are-start {
  justify-content: flex-start;
}

// column
.column {
  flex: auto;
  @include media($tiny) {
    width: 100%;
  }
}

.column.is-fixed {
  flex: none;
}

// Some calculationz
$columns: (
  1: 'is-one',
  2: 'is-two',
  3: 'is-three',
  4: 'is-four',
  5: 'is-five',
  6: 'is-six',
  7: 'is-seven',
  8: 'is-eight',
  9: 'is-nine',
  10: 'is-ten',
  11: 'is-eleven',
  12: 'is-twelve'
);

%no-flex-grow {
  flex-grow: 0;
}

// Regular columns
@each $index, $class in $columns {
  .column.#{$class} {
    @extend %no-flex-grow;
    width: #{$index * 100% / 12};
    @include media($tiny) {
      width: 100%;
    }
  }
}

// Fixed columns
@each $index, $class in $columns {
  .column.is-fixed.#{$class} {
    width: #{$index * $max-width / 12};
    @include media($tiny) {
      width: 100%;
    }
  }
}

// Fixed gapped columns
@each $index, $class in $columns {
  .columns.are-gapped .column.is-fixed.#{$class} {
    width: #{floor($index * $max-width / 12)};
    @include media($tiny) {
      width: 100%;
    }
  }
}