.navigation {
  height: $navigation-height;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: inherit;
}

.navigation.is-shy {
  height: $navigation-height * .75;
}

.navigation.is-left {
  justify-content: flex-start;
}

.navigation.is-right {
  justify-content: flex-end;
}

.navigation.is-centered {
  justify-content: space-around;
}

.navigation__item {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation__link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;

  border: 0;
  padding-left: $spacing;
  padding-right: $spacing;
  color: $black;

  &.is-active,
  &:hover {
    color: $white;
    background: $primary;
  }

}