.table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  th, td {
    padding: $spacing;
  }

  td {
    border-top: .1rem solid $light-gray;
    border-bottom: .1rem solid $light-gray;
  }

  tbody tr:hover {
    background: $off-white;
  }

}

.table.is-transparent {
  border: none;

  td {
    border: none;
  }

  thead {
    border: none;
  }
}
.table.is-small {
  font-size: 1.4rem;

  th, td {
    padding: .25 * $spacing .5 * $spacing;
  }
}