.table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  th, td {
    border: .1rem solid $light-gray;
    padding: $spacing-md;
  }

  tbody tr:hover {
    background: $off-white;
  }

}
.table .is-ascending {
  &:after {
    margin-left: $spacing-sm;
    //@include fa-icon('\f0d8');
  }
}
.table .is-descending {
  &:after {
    margin-left: $spacing-sm;
    //@include fa-icon('\f0d7');
  }
}
.table.is-transparent {
  border: none;

  th, td {
    border: none;
  }

  thead {
    border: none;
  }
}
.table.is-small {
  font-size: 1.4rem;

  th, td {
    padding: $spacing-xs $spacing-sm;
  }
}