.text {
  display: block;
}
.text.is-centered {
  text-align: center;
}
.text.is-preamble {
  font-size: 1.8rem;
}
.text.is-huge {
  font-size: 5.0rem;
}
.text.is-large {
  font-size: 3.2rem;
}
.text.is-small {
  font-size: 1.4rem;
}
.text.is-tiny {
  font-size: 1.2rem;
}
.text.is-shy {
  opacity: .5;
}
.text.is-bold {
  font-weight: bold;
}
.text.is-gapped {
  margin-top: $spacing-lg;
}