p {
  margin-top: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
  margin-bottom: $spacing;
  margin-top: 0;
  letter-spacing: .01em;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.0rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  color: $primary;
  transition: .15s ease-in-out;
  display: inline-block;
  outline: none;
}

span {
  font-weight: 300;
}

hr {
  border-top: .1rem solid;
}

pre {
  display: block;
  background: $off-white;
  padding: 2 * $spacing;
  font-family: 'Monaco', 'Source Code Pro', 'consolas', monospace;
  line-height: 1.6;
  white-space: pre-wrap;
  border-left: .25rem solid $primary;
}

code {
  display: inline-block;
  background: $off-white;
  border-radius: $border-radius;
  padding: .25 * $spacing .5 * $spacing;
}

pre,
code {
  font-size: 1.4rem;
}

blockquote {
  border-left: 0.4rem solid $off-white;
  margin-left: 0;
  margin-right: 0;
  padding: $spacing 2 * $spacing;

  & *:last-child {
    margin: 0;
  }

}

ul, ol, dl {
  margin-top: $spacing;
  margin-bottom: $spacing;
  list-style-position: inside;

  & & {
    margin-left: $spacing;
    margin-top: 0;
  }

}

ol ol {
  list-style-type: lower-alpha;
}