.navigation {
  background: $white;
  height: $navigation-height;
}

.navigation.is-shy {
  background: $off-white;
  height: $navigation-height * .75;
}

.navigation__inner {
  @extend .container;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navigation__start,
.navigation__item,
.navigation__end {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation__link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 0;
  padding-left: $spacing-md;
  padding-right: $spacing-md;
  background: $off-white;
  color: $black;

  &:hover {
    color: initial;
    background: $primary;
  }

}

.navigation__form {
  height: 100%;
}

.navigation__button {
  height: 100%;
}