@import 'reset';

@import 'settings';

@import 'grid',
        'typography',
        'button',
        'breadcrumbs',
        'banner',
        'section',
        'navigation',
        'flag';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Yantramanav';
  background: $light-gray;
}

.logotype {
    font-size: 3rem;
}

.header {
    height: 40rem;
    background: $white;
}

.header__inner {
    @extend .container;
}
