@import 'base/reset';

@import 'base/settings',
        'base/base',
        'base/text';

@import 'grid',
        'typography',
        'button',
        'breadcrumbs',
        'banner',
        'section',
        'navigation',
        'flag';

.logotype {
    font-size: 3rem;
}

.header {
    height: 40rem;
    background: $white;
}

.header__inner {
    @extend .container;
}