@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,700,300);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.6rem;
}

*:focus {
  outline: .1rem dotted black;
}

*,
*:after,
*:before {
  box-sizing: inherit
}