$primary: #fce473;
$secondary: #1fc8db;
$blue: #00f;
$white: #ffffff;
$off-white: #f6f6f6;
$light-gray: #eeeeee;
$gray: #aaaaaa;
$dark-gray: #777777;
$black: #000000;

$ghost-black: rgba(0, 0, 0, .125);

$border-radius: .5rem;

$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

$navigation-height: 6rem;