.navigation__logo {
  @extend .text.is-large;
  display: block;
  color: $white;
  border: none;
}
.navigation__link {
  float: left;
}
.navigation__inner {
  @extend .cells;
  margin-left: 0;
  margin-right: 0;
}
.navigation__item {
  @extend .cell;
}
.navigation__item.is-right {
  justify-content: flex-end;
}
.navigation.is-shaded {
  border-bottom: .2rem solid $gray;
  box-shadow: inset 0 -2rem 2rem $light-gray;
}

.box.is-rounded {
  border-radius: $border-radius;
}

.box.is-padded {
  padding: $spacing-lg;
}
.box.is-floated {
  border: .1rem solid $gray;
  border-bottom: .2rem solid $gray;
  border-radius: $border-radius;
}
.box.is-shy {
  background: $light-gray
}
.cells.are-gapped {
  margin-top: 0;
  margin-bottom: 0;
}