.banner {
  background: $white;
  min-height: 64rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: $spacing-xl;
}
.banner.is-half {
  min-height: 32rem;
}

.banner__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.banner__content {
  position: relative;
  z-index: 10;
}