.fields {
  margin-bottom: $spacing-xl 0;
}
.fields__label {
  float: left;
}
.fields__help {
  @extend .text.is-shy;
  @extend .text.is-tiny;
  float: right;
}
.fields__input {
  margin-bottom: $spacing-lg;
}
.fields__select {
  &:before {
    @include fa-icon('\f0d8');
  }
}

// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  background-color: $white;
  border: .1rem solid $ghost-black;
  border-radius: 0;
  height: 4rem;
  padding: 0 $spacing-md;
  width: 100%;

  &:focus {
    outline: .2rem solid $blue;
  }
}

textarea {
  padding-bottom: .6rem;
  padding-top: .6rem;
  min-height: 6.5rem;
}

label,
legend {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  font-weight: normal;
  display: inline-block;
  margin-left: .5rem;
}

