.section {
  background: $white;
  margin: $spacing-lg 0;
  display: flex;
}

.section.is-boxed {
  background: $white;
  padding: $spacing-lg;
}

.section.is-bordered {
  border: 1px solid $ghost-black;
  padding: $spacing-lg;
}