p {
  margin-top: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
  margin-bottom: $spacing-md;
  margin-top: 0;
  letter-spacing: .01em;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.0rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  color: $primary;
  transition: .25s;
  text-decoration: none;
  display: inline-block;
  border-bottom: .2rem solid;
}

span {
  font-weight: 300;
}

hr {
  border-top: .1rem solid $ghost-black;
}

pre {
  display: block;
  background: $off-white;
  padding: $spacing-lg;
  font-family: 'Monaco', 'Source Code Pro', 'consolas', monospace;
  line-height: 1.6;
  white-space: pre-wrap;
}

code {
  display: inline-block;
  background: $off-white;
  border-radius: $border-radius;
}

pre,
code {
  font-size: 1.4rem;
}

blockquote {
  border-left: 0.4rem solid $off-white;
  margin-left: 0;
  margin-right: 0;
  padding: $spacing-md $spacing-lg;

  & *:last-child {
    margin: 0;
  }

}