.cell:nth-child(even) .demo {
  background: $white;
}
.cell:nth-child(odd) .demo {
  background: $primary;
}
.cell .cell:nth-child(even) .demo {
  background: $secondary;
}
.cell .cell:nth-child(odd) .demo {
  background: lighten($secondary, 30);
}

.demo {
  display: block;
  border-radius: .5rem;
  padding: $gutter / 2;
  text-align: center;
  margin-bottom: $gutter;
  color: $ghost-black;
}

.logotype {
  height: 3rem;
}

.is-gapped {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
}

.is-primary {
  color: $primary;
}

.box {
  background: $off-white;
}

.whitespace {
  height: 4*$spacing-xl;
}

.is-nude {

  span {
    position: relative;
  }

  span:after {
    position: absolute;
    content: '';
    display: block;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 20%;
    transition: transform .1s;
    transform: rotate(3deg) scale(1);
    background: black;
  }

  &:hover span:after {
    transform: rotate(-10deg) scale(0);
  }

}